img {
    padding-left: 3vw;
}

.userForm {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.title {
    font-family: 'IM Fell Double Pica', serif;
}