.loginContainer {
    padding-top: 2vh;
    padding-bottom: 4vh;
    background-color: whitesmoke;

}

.loginTitle {
    font-family: 'IM Fell Double Pica', serif;
    font-size: 5rem;
}

.formSpacer {
    height: 3vh;
}

.images {
    width: 290px;
    height: auto;
}

.inputBlock {
    background-color: rgba(85, 168, 246, 0.315);
    height: 25vh;
}

