.landPage {
  width: 96%;
  height: 77vh;
}

img {
  width: 100%;
  height: 100%;
}

.card-img {
  max-width: 82vw;
  max-height: 80vh;
}

.imageSpace {
  max-width: 95vw;
  padding-left: 5vw;
  max-height: auto;
}

.card-img-overlay {
  margin-left: 15vw;
  background-color: rgba(0, 0, 0, 0.466);
  width: 14vw;
}

.cardHeading {
  font-size: 3vw;
  text-align: left;
  background-color: transparent;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 10vw;
  color: rgb(223, 157, 34);
  font-family: "IM Fell Double Pica", serif;
}

.card-text {
  font-family: "Ubuntu", sans-serif;
  color: white;
  width: 8vw;
  padding-left: 1vw;
  font-size: 1.2vw;
}

.carousel-control-prev {
  margin-left: 15vw;
}

.carousel-control-next {
  margin-right: 12vw;
}

.carousel-indicators {
  width: 20vw;
  height: 1vh;
}
